<%- include('./partials/head', {current: '/detail' }); %>

    <div>
        <picture>
            <source class="homeImg"
                srcset="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>?format=avif"
                type="image/avif">
            <source class="homeImg"
                srcset="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>?format=webp"
                type="image/webp">
            <img class="homeImg" src="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>"
                alt="<%= houseId.poster_image %> Image">
        </picture>
    </div>
    <div class="infoCard">
        <p>
            <%= houseId.street %>
                <%= houseId.house_nr %>
                    <%= houseId.nr_addition %>
        </p>

        <form method="post" action="/">
            <input type="hidden" value="<%= houseId.id %>" name="house_id">
            <button class="likeButton" type="submit" name="actie">♥️</button>
        </form>

        <p>
            <%= houseId.postal_code %>
                <%= houseId.city %>
        </p>
        <p>
            <%= houseId.price %>
        </p>

        <div class="card">
            <span onclick="gfg(1)" class="star">★
            </span>
            <span onclick="gfg(2)" class="star">★
            </span>
            <span onclick="gfg(3)" class="star">★
            </span>
            <span onclick="gfg(4)" class="star">★
            </span>
            <span onclick="gfg(5)" class="star">★
            </span>
            <h3 id="output">
                Rating is: 0/5
            </h3>
        </div>
    </div>
    </div>

    <%- include('./partials/foot') %>