<%- include('./partials/head', {current: '/detail' }); %>

    <div>
        <picture>
            <source class="homeImg"
                srcset="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>?format=avif"
                type="image/avif">
            <source class="homeImg"
                srcset="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>?format=webp"
                type="image/webp">
            <img class="homeImg" src="https://fdnd-agency.directus.app/assets/<%= houseId.poster_image %>"
                alt="house image" width="400px" height="400px">
        </picture>
    </div>
    <div class="infoCard">
        <p>
            <%= houseId.street %>
                <%= houseId.house_nr %>
                    <%= houseId.nr_addition %>
        </p>

        <form method="post" action="/">
            <input type="hidden" value="<%= houseId.id %>" name="house_id">
            <button class="likeButton" type="submit" name="actie">♥️</button>
        </form>

        <p>
            <%= houseId.postal_code %>
                <%= houseId.city %>
        </p>
        <p>
            <%= houseId.price %>
        </p>

        <form>
            <label aria-label="1 ster">
                <input type="radio" name="ratingHouse1" value="1">★
            </label>
            <label aria-label="2 sterren">
                <input type="radio" name="ratingHouse1" value="2">★
            </label>
            <label aria-label="3 sterren">
                <input type="radio" name="ratingHouse1" value="3">★
            </label>
            <label aria-label="4 sterren">
                <input type="radio" name="ratingHouse1" value="4">★
            </label>
            <label aria-label="5 sterren">
                <input type="radio" name="ratingHouse1" value="5">★
            </label>
        </form>
    </div>
    </div>

    <%- include('./partials/foot') %>