<%- include('./partials/head', {current: '/list' });%>

    <p>
        <%= lijst.title %>
    </p>

    <section class="allHouses">
        <% lijst.forEach(function(house) { %>
            <div class="homeCard">
                <div>
                    <picture>
                        <source class="homeImg"
                            srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>?format=avif"
                            type="image/avif">
                        <source class="homeImg"
                            srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>?format=webp"
                            type="image/webp">
                        <img class="homeImg"
                            src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>"
                            alt="<%= house.f_houses_id.poster_image %> Image">
                    </picture>
                </div>
                <div class="infoCard">
                    <p>
                        <%= house.f_houses_id.street %>
                            <%= house.f_houses_id.house_nr %>
                                <%= house.f_houses_id.nr_addition %>
                    </p>

                    <form method="post" action="/">
                        <input type="hidden" value="<%= house.f_houses_id.id %>" name="house_id">
                        <button class="likeButton" type="submit" name="actie">♥️</button>
                    </form>

                    <p>
                        <%= house.f_houses_id.postal_code %>
                            <%= house.f_houses_id.city %>
                    </p>
                    <p>
                        <%= house.f_houses_id.price %>
                    </p>

                    <form>
                        <label aria-label="1 ster">
                            <input type="radio" name="ratingHouse1" value="1">★
                        </label>
                        <label aria-label="2 sterren">
                            <input type="radio" name="ratingHouse1" value="2">★
                        </label>
                        <label aria-label="3 sterren">
                            <input type="radio" name="ratingHouse1" value="3">★
                        </label>
                        <label aria-label="4 sterren">
                            <input type="radio" name="ratingHouse1" value="4">★
                        </label>
                        <label aria-label="5 sterren">
                            <input type="radio" name="ratingHouse1" value="5">★
                        </label>
                    </form>
                </div>
            </div>

            <% }) %>
    </section>

    <%- include('./partials/foot') %>